:root{
  --ifm-color-primary-lightest: #303846;
  --ifm-color-primary-lighter: #303846;
  --ifm-color-primary-light: #303846;
  --ifm-color-primary: #263f6a;
  --ifm-color-primary-dark: #1d2533;
  --ifm-color-primary-darker: #121927;
  --ifm-color-primary-darkest: #0f141d;
}
